.register,
.login {
  height: calc(100vh - 60px) !important;
}

.image-container,
.login-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.image-container {
  background-image: url("../assets/img/register_main.jpg");
}
.login-img {
  background-image: url("../assets/img/login_main.jpg");
}
